<ng-template #content><ng-content></ng-content></ng-template>

@if (!routerLink()) {
<button
  (click)="onClick($event)"
  class="app-button"
  [ngClass]="classes()"
  pRipple
  [disabled]="disabled()"
>
  @if(loading()) {
  <iconify-icon icon="svg-spinners:90-ring" class="mr-2" />
  }
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
} @else {
<a [routerLink]="routerLink()" class="app-button" [ngClass]="classes()" pRipple>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}
