<ion-content [fullscreen]="true">
  <app-with-back-button urlToGoBack="/home" pageTitle="Edit Profile">
    <div class="flex flex-col gap-4" [style]="{height: pageHeight()}">
      <form
        [formGroup]="profileFormGroup"
        class="mt-2 flex flex-col gap-4 flex-grow pb-8"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-col gap-2">
          <label for="dataTemplateName">Email Address</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            placeholder="Enter your email"
            variant="filled"
          />
          @if(profileFormGroup.get('email')?.invalid &&
          profileFormGroup.get('email')?.touched) {
          <small class="text-red-500"> Data Template Name is required </small>
          }
        </div>
        <!-- <div class="flex flex-col gap-2">
          <label for="plot">Select Plot</label>
          <p-dropdown
            [filter]="true"
            [filterBy]="'collectionname'"
            id="plot"
            formControlName="plot"
            [options]="availablePlots()"
            optionLabel="collectionname"
            placeholder="Select Plot"
            variant="filled"
          />
          @if(createDataTemplateBasicDetailsFormGroup.get('plot')?.invalid &&
          createDataTemplateBasicDetailsFormGroup.get('plot')?.touched) {
          <small class="text-red-500"> Plot is required </small>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="workflow">Select Workflow</label>
          <p-dropdown
            id="workflow"
            [filter]="true"
            [filterBy]="'workflowname'"
            formControlName="workflow"
            [options]="availableWorkflows()"
            optionLabel="workflowname"
            placeholder="Select Workflow"
            variant="filled"
          />
          @if(createDataTemplateBasicDetailsFormGroup.get('workflow')?.invalid
          && createDataTemplateBasicDetailsFormGroup.get('workflow')?.touched) {
          <small class="text-red-500"> Workflow is required </small>
          }
        </div> -->
        <footer class="mt-auto">
          <app-button
            color="yellow"
            [block]="true"
            [disabled]="profileFormGroup.invalid"
          >
            {{ profileFormGroup.valid ? 'Save Changes' : 'Please fill all the
            fields' }}
          </app-button>
        </footer>
      </form>
    </div>
  </app-with-back-button>
</ion-content>
