<ion-content [fullscreen]="true">
  <app-with-back-button
    urlToGoBack="/login-or-register"
    pageTitle="Create Your Account"
  >
    <div class="flex flex-col gap-4" [style]="{height: pageHeight()}">
      <form
        [formGroup]="profileFormGroup"
        class="mt-2 flex flex-col gap-4 flex-grow pb-8"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-col gap-2">
          <label for="dataTemplateName">Username</label>
          <input
            id="username"
            type="username"
            pInputText
            formControlName="username"
            placeholder="Enter your username"
            variant="filled"
          />
          @if(profileFormGroup.get('username')?.invalid &&
          profileFormGroup.get('username')?.touched) {
          <small class="text-red-500"> Username is required </small>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="dataTemplateName">Email Address</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            placeholder="Enter your email"
            variant="filled"
          />
          @if(profileFormGroup.get('email')?.invalid &&
          profileFormGroup.get('email')?.touched) {
          <small class="text-red-500"> Email is required </small>
          }
        </div>
        <app-country-code-telephone-input [form]="contactNumberFormGroup" />
        <div class="flex flex-col gap-2 w-full">
          <label for="designation">Designation</label>
          <p-dropdown
            [filter]="true"
            id="designation"
            formControlName="designation"
            [options]="designationOptions"
            placeholder="Select Designation"
            variant="filled"
            appendTo="body"
            styleClass="w-full"
          />
          @if(profileFormGroup.get('designation')?.invalid &&
          profileFormGroup.get('designation')?.touched) {
          <small class="text-red-500"> Designation is required </small>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
            variant="filled"
          />
          @if(profileFormGroup.get('password')?.invalid &&
          profileFormGroup.get('password')?.touched) {
          <small class="text-red-500"> Password is required </small>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            pInputText
            formControlName="confirmPassword"
            variant="filled"
          />
          @if(profileFormGroup.get('confirmPassword')?.invalid &&
          profileFormGroup.get('confirmPassword')?.touched) {
          <small class="text-red-500">
            Confirm password and password must match
          </small>
          }
        </div>
        <footer class="mt-auto">
          <app-button
            color="yellow"
            [block]="true"
            [disabled]="profileFormGroup.invalid"
            [loading]="submitting()"
          >
            {{ profileFormGroup.valid ? 'Sign Up' : 'Please fill all the fields'
            }}
          </app-button>
        </footer>
      </form>
    </div>
  </app-with-back-button>
</ion-content>

<p-toast />