:host ::ng-deep .ipv_dropdown {
    height: 42px;
    border-radius: 6px;
    & > div {
        & > div {
            span {
                display: none;

                &.ipv_country-name {
                    display: inline;
                }
            }
        }
    }
}

:host ::ng-deep .ipv_selected-item {
    height: 42px;
    border-radius: 6px;
}