<ion-content [fullscreen]="true">
  <app-with-back-button urlToGoBack="/home" pageTitle="Create Data Template">
    <div class="flex flex-col gap-4 h-[calc(100vh-103px)]">
      <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        finibus ullamcorper diam nec iaculis. *Explanation about whats a Data
        Template*
      </p>
      <form
        [formGroup]="createDataTemplateBasicDetailsFormGroup"
        class="mt-2 flex flex-col gap-4 flex-grow pb-8"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-col gap-2">
          <label for="dataTemplateName">Data Template Name</label>
          <input
            id="dataTemplateName"
            type="text"
            pInputText
            formControlName="dataTemplateName"
            placeholder="DT0001"
            variant="filled"
          />
          @if(createDataTemplateBasicDetailsFormGroup.get('dataTemplateName')?.invalid
          &&
          createDataTemplateBasicDetailsFormGroup.get('dataTemplateName')?.touched)
          {
          <small class="text-red-500"> Data Template Name is required </small>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="plot">Select Plot</label>
          <p-dropdown
            [filter]="true"
            [filterBy]="'collectionname'"
            id="plot"
            formControlName="plot"
            [options]="availablePlots()"
            optionLabel="collectionname"
            placeholder="Select Plot"
            variant="filled"
          />
          @if(createDataTemplateBasicDetailsFormGroup.get('plot')?.invalid &&
          createDataTemplateBasicDetailsFormGroup.get('plot')?.touched) {
          <small class="text-red-500"> Plot is required </small>
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="workflow">Select Workflow</label>
          <p-dropdown
            id="workflow"
            [filter]="true"
            [filterBy]="'workflowname'"
            formControlName="workflow"
            [options]="availableWorkflows()"
            optionLabel="workflowname"
            placeholder="Select Workflow"
            variant="filled"
          />
          @if(createDataTemplateBasicDetailsFormGroup.get('workflow')?.invalid
          && createDataTemplateBasicDetailsFormGroup.get('workflow')?.touched) {
          <small class="text-red-500"> Workflow is required </small>
          }
        </div>
        <footer class="mt-auto">
          <app-button
            color="yellow"
            [block]="true"
            [disabled]="createDataTemplateBasicDetailsFormGroup.invalid"
          >
            {{ createDataTemplateBasicDetailsFormGroup.valid ? 'Next' : 'Please
            fill all the fields' }}
          </app-button>
        </footer>
      </form>
    </div>
  </app-with-back-button>
</ion-content>
