<ion-content>
  <app-with-back-button
    urlToGoBack="/data-templates/create/basic-details"
    [pageTitle]="(dataTemplateName$ | async) ?? undefined"
  >
    <div class="flex items-center mt-4">
      <div class="w-1/2">
        <span class="text-[var(--gray)]">Plot</span>
        <p>{{ (plotName$ | async) }}</p>
      </div>
      <div class="w-1/2">
        <span class="text-[var(--gray)]">Workflow</span>
        <p>{{ (workflowName$ | async) }}</p>
      </div>
    </div>
    <form class="mt-4 flex flex-col gap-4 flex-grow pb-8">
      <div class="flex flex-col gap-2">
        <label for="plot">Select Stage</label>
        <p-dropdown
          [filter]="true"
          id="stage"
          [options]="(availableStagesToSelect$ | async) ?? []"
          placeholder="Select Stage"
          variant="filled"
          (onChange)="onSelectStage($event)"
        />
      </div>
      <footer class="mt-auto">
        <app-button color="yellow" [block]="true"> Next </app-button>
      </footer>
    </form>
  </app-with-back-button>
</ion-content>
