<ion-content>
  <app-with-back-button
    urlToGoBack="/data-templates/create/basic-details"
    [pageTitle]="(dataTemplateName$ | async) ?? undefined"
  >
    <div class="flex flex-col gap-4 min-h-[calc(100vh-103px)]">
      <div class="flex items-center mt-4">
        <div class="w-1/2">
          <span class="text-[var(--gray)]">Plot</span>
          <p>{{ (plotName$ | async) }}</p>
        </div>
        <div class="w-1/2">
          <span class="text-[var(--gray)]">Workflow</span>
          <p>{{ (workflowName$ | async) }}</p>
        </div>
      </div>
      <form
        class="mt-4 flex flex-col gap-4 flex-grow pb-8"
        [formGroup]="formGroup()"
      >
        <div class="flex flex-col gap-2">
          <label for="plot">Select Stage</label>
          <p-dropdown
            [filter]="true"
            id="stage"
            [options]="(availableStagesToSelect$ | async) ?? []"
            placeholder="Select Stage"
            variant="filled"
            (onChange)="onSelectStage($event)"
            [formControlName]="'stage'"
          />
        </div>
        @if(constructingForm()){
        <p-skeleton height="2.625rem" styleClass="mb-2" />
        <p-skeleton height="2.625rem" styleClass="mb-2" />
        <p-skeleton height="2.625rem" styleClass="mb-2" />
        <p-skeleton height="2.625rem" styleClass="mb-2" />
        <p-skeleton height="2.625rem" styleClass="mb-2" />
        <p-skeleton height="2.625rem" styleClass="mb-2" />

        } @else { @for(field of dynamicFormFields(); track field.id){
        @if(isInputTextFieldByProcessedField(field)){
        <div class="flex flex-col gap-2">
          <label for="plot"> {{field.label}} </label>
          <input
            pInputText
            id="field.id"
            [id]="field.id"
            [name]="field.name"
            [formControlName]="field.valuekey"
            variant="filled"
          />
        </div>
        } @else if(isInputSelectFieldByProcessedField(field)){
        <div class="flex flex-col gap-2">
          <label for="plot"> {{field.label}} </label>
          <p-dropdown
            [id]="field.id"
            [options]="field.options"
            [filter]="true"
            [filterBy]="'collectionname'"
            variant="filled"
            [optionLabel]="'collectionname'"
            [formControlName]="field.valuekey"
            (onChange)="onValueChange($event, field.valuekey)"
          />
        </div>
        } } }
        <footer class="mt-auto">
          <app-button
            color="yellow"
            [block]="true"
            (click)="onSubmit()"
            [disabled]="!formGroup().valid"
          >
            {{ formGroup().valid ? 'Submit' : 'Please fill all the fields' }}
          </app-button>
        </footer>
      </form>
    </div>
  </app-with-back-button>
</ion-content>
