<ion-menu contentId="sidebar-content">
  <ion-content>
    <aside class="p-4">
      <div class="flex justify-end mt-8">
        <ion-menu-toggle>
          <button>
            <iconify-icon class="text-[1.75rem]" icon="lucide:x" />
          </button>
        </ion-menu-toggle>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/images/avatar-placeholder.svg"
          alt="John Doe"
          class="w-[55px] h-[55px] rounded-full"
        />
        <p class="text-[24px] font-[700]">John Doe</p>
      </div>
      <nav class="mt-12">
        <ul class="flex flex-col">
          @for (item of sideNavItems; track item.label) {
          <li
            class="flex justify-between items-enter text-[18px]"
            (click)="item.action ? item.action() : goTo(item.route ?? '/home')"
          >
            {{ item.label }}
            <iconify-icon
              class="text-[1.25rem]"
              [icon]="item.icon ?? 'lucide:chevron-right'"
            />
          </li>
          @if (item.label !== 'Logout') {
          <p-divider />
          } }
        </ul>
      </nav>
    </aside>
  </ion-content>
</ion-menu>
<!-- <app-sidebar /> -->
<div class="ion-page" id="sidebar-content">
  <ion-content [fullscreen]="true">
    <header
      class="text-[var(--light-gray)] bg-[var(--dark-green)] pt-12 pb-10 px-4"
    >
      <ion-menu-toggle>
        <button>
          <iconify-icon class="text-[1.75rem]" icon="lucide:menu" />
        </button>
      </ion-menu-toggle>
      <div class="flex mt-2 justify-between items-center">
        <h1 style="line-height: 210%">
          <span class="text-[24px]"> Good Morning, </span>
          <span class="block font-[700] text-[48px]">John Doe.</span>
        </h1>
        <img
          src="assets/images/geld-logo-1.png"
          class="w-[75px] h-[50px]"
          alt="Geld Logo"
        />
      </div>
    </header>
    <main class="flex justify-center p-8">
      <nav class="w-full">
        <ul class="w-full flex flex-col gap-4">
          <li>
            <a
              pRipple
              [routerLink]="['/new-data-template']"
              class="flex items-center justify-center gap-4 py-5 text-[18px] bg-gradient-to-b from-[#FFF] to-[#F6F6F6] rounded-[10px]"
            >
              <img
                src="assets/icon/new_data_template.svg"
                alt="New Data Template"
              />
              New Data Template
            </a>
          </li>
          <li>
            <a
              pRipple
              [routerLink]="['/view-data-templates']"
              class="flex items-center justify-center gap-4 py-5 text-[18px] bg-gradient-to-b from-[#FFF] to-[#F6F6F6] rounded-[10px]"
            >
              <img
                src="assets/icon/view_data_templates.svg"
                alt="View Data Templates"
              />
              View Data Templates
            </a>
          </li>
        </ul>
      </nav>
    </main>
  </ion-content>
</div>
<!-- </ion-content> -->
