<ion-menu contentId="sidebar-content">
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<!-- <app-sidebar /> -->
<div class="ion-page" id="sidebar-content">
  <ion-content [fullscreen]="true">
    <header
      class="text-[var(--light-gray)] bg-[var(--dark-green)] pt-12 pb-6 px-4"
    >
      <ion-menu-toggle>
        <button>
          <iconify-icon class="text-[1.75rem]" icon="lucide:menu" />
        </button>
        <!-- <ion-button>Click to open the menu</ion-button> -->
      </ion-menu-toggle>
      <div class="flex mt-2">
        <h1 style="line-height: 210%">
          <span class="text-[24px]"> Good Morning, </span>
          <span class="block font-[700] text-[48px]">John Doe.</span>
        </h1>
        <img
          src="assets/images/geld-logo-1.png"
          class="w-[75px] h-[50px]"
          alt="Geld Logo"
        />
      </div>
    </header>
  </ion-content>
</div>
<!-- </ion-content> -->
