<ion-content [fullscreen]="true">
  <main
    class="bg-[var(--dark-green)] w-screen h-screen overflow-hidden flex flex-col justify-between pb-8 px-4 text-[var(--light-gray)]"
  >
    <div class="flex flex-col gap-4 mt-10">
      <img src="assets/images/geld-logo-1.png" class="w-[105px] h-[70px]" alt="Geld Logo">
      <h1 class="text-[36px] sm:text-[40px] font-[700]" style="line-height: 122%;">
        Welcome to Geld.Network
      </h1>
      <p class="text-[18px]">
        Take your time to explore and discover everything that awaits you.
      </p>
      <p class="text-[18px] flex items-center gap-4 mt-5 text-[var(--light-green)]">
        Learn about Geld.Network
        <iconify-icon icon="lucide:arrow-right" />
      </p>
    </div>
    <img class="mix-blend-color-burn opacity-20 mx-auto w-[350px] h-[350px] mt-auto" src="assets/images/vegan%201.gif" alt="A globe with leaves" height="326" width="326"/>
    <footer class="flex items-center justify-center">
      <!-- <app-button color="yellow" [block]="true" (click)="login()" (keypress)="login()"> Get Started</app-button> -->
      <app-button color="yellow" [block]="true" [routerLink]="'/home'"> Get Started</app-button>
    </footer>
  </main>
</ion-content>
