@layer tailwind-base, primeng, tailwind-utilities;
        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}



iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}